.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 25px;
    padding-left: 16px;
    padding-right: 16px;
}

.place__paragraph:last-child {
    margin: 0;
}

@media (min-width: 768px) {
    .place__paragraph {
        padding: 0;
        line-height: 26px;
        height: fit-content;
    }
}

@media (min-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
        line-height: 29px;
    }
}
