.cover {
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
}

@media (min-width: 1280px) {
    .cover {
        background-color: #2A2C2F;
        padding: 0 calc(50% - 592px);
    }
}
